<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobportal.jobseeker.seeker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".JobPortalIntro.Activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppthemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JobSeekar.MainActivity" />

        <!-- Vadivu.uniflyn@gmail.com -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".JobPortalIntro.Activity.JobSeekerSignupActivity"
            android:theme="@style/AppthemeActionbar" />
        <activity
            android:name=".JobPortalIntro.Activity.SplashPageActivity"
            android:theme="@style/AppthemeSplashTwo" />
        <activity
            android:name=".JobPortalIntro.Activity.SignInSignupActivity"
            android:theme="@style/AppthemeActionbar" />
        <activity
            android:name=".JobSeekar.ProfileSeekarActivity"
            android:theme="@style/AppthemeActionbar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.AddExperienceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.AddEducationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.AddAccomplishmentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.EditProfileSeekerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobPortalIntro.Activity.SignInActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobPortalIntro.Activity.CompanySignupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.SavedJobsDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.RecordDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.MyScheduleDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.OffersLettersActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.RejectionLettersActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.AccountSettingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.SetPreferencesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.VerifyProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.VerificationCodeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.VersionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.HomeDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.AddAccomplishedDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.MainActivityCompany"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobSeekar.MainActivityJobSeeker"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.DashboardProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.InterestedProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.CompanyProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Company.CompanyAboutEditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Company.CompanyDetailsEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.ImportCandidateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.JobListingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.StagesProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.AdavancedProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.OfferLetterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.ReviewSendOfferActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.OfferLetterReviewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.RejectLetterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.RejectReviewLetterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Company.ScheduleDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Company.InboxCompanyActivity" />
        <activity android:name=".JobSeekar.InboxJobSeekerActivity" />
        <activity
            android:name=".Company.ChatCompanyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".JobSeekar.CompanyRecordProfileActivity" />
        <activity android:name=".Company.StagesActivity" />
        <activity android:name=".JobSeekar.CompanyProfileViewActivity" />
        <activity android:name=".JobSeekar.HomeDetailsZoomActivity"></activity>
    </application>

</manifest>